.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrcode-area {
  display: flex;
  margin: auto;
  width: 18.75rem;
  height: 18.75rem;
  border: 1px solid black;
}

.text-field {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  outline: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 2rem;
  width: 30%;
}

.button-area {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
