<div class="title">
  <h1>QR Code Generator</h1>
</div>

<div class="field">
  <input class="text-field" type="text" name="url" [(ngModel)]="myAngularxQrCode" placeholder="Digite aqui seu texto ou URL...">
</div>

<div class="qrcode-area" *ngIf="myAngularxQrCode">
  <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="myAngularxQrCode" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
</div>

<div class="button-area">
  <button *ngIf="myAngularxQrCode"><a [href]="qrCodeDownloadLink" download="qrcode">Download</a></button>
</div>
